# --- macOS System Files ---
.DS_Store

# --- VS Code Settings ---
.vscode/settings.json

# --- Binaries & Compiled Files ---


# General Compiled Object files
*.o
*.obj

# General Binary/Output types
*.bin
*.out

csa
csa_ext
factorials
fibmemo
primes